/* -------------------
----------------------
       GENERAL
----------------------
------------------- */

body, html{
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}

a, h2, h3, h4, h5, h6, span, p, footer{
    font-family: 'Roboto', sans-serif;
    color: #4e4e4e;
    text-decoration: none;
}
}
h1{
  color: #fff;
}
h3, h4{
    color: #1b1928;
}
p{
    line-height: 2;
    letter-spacing: 0.2px;
    font-weight: 300;
}
.center{
    text-align: center;
}
.clear{
    clear: both;
}

/* -------------------
----------------------
       HEADER
----------------------
------------------- */
/* preHeader */
.preHeader{
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    -moz-box-shadow: 0px 5px 10px 0px #ebebeb;
    -webkit-box-shadow: 0px 5px 10px 0px #ebebeb;
    -o-box-shadow: 0px 5px 10px 0px #ebebeb;
    box-shadow: 0px 5px 10px 0px #ebebeb;
      transition-duration: 0.2s;
}
.linkContainer{
    float: right;
    margin-right: 7%;

}
.preHeader a{
    font-size: 14px;
    font-weight: 300;
    padding: 0 10px;
    transition-duration: 0.2s;
}
.preHeader a:hover{
    color: #212121;
}

/* header */
header{
    background-color: #fff;
}
.header{
    width: 80%;
    margin: 0 auto;
    height: 120px;
    line-height: 120px;
}
.logo{
    width: 80px;
    vertical-align: middle;
}
.menu{
    float: right;
}
.link{
    font-size: 17px;
    font-weight: 300;
    vertical-align: middle;
    padding: 20px;
    transition-duration: 0.2s;
}
.link:hover, .link.active{
    color: #d7002f;
}

footer {
    text-align: center;
    font-weight: 400;
    color: #9b9b9b;
    margin-bottom: 25px;
}
